<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('dashboard')"></head>
<body>
<nav th:replace="layout :: navbar('dashboard')"></nav>

<div class="container">

    <!-- UPPER ROW -->
    <div class="row">
        <div class="col-md-6">
            <!-- TOPLEFT PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading"><b>Database cluster</b></div>
                <table class="table">
                    <!--/*@thymesVar id="server.key" type="be.kuleuven.cs.jli40d.core.deployer.Server"*/-->
                    <tr th:each="server : ${databases}">
                        <td>
                            <span class="label label-primary" th:text="${server.key.uuid.substring(0,7)}"></span>
                            <span th:text="${server.key.toString()}"></span>
                        </td>
                        <td th:if="${server.value.size() == 1}" th:text="${server.value.size()} + ' app server'"></td>
                        <td th:unless="${server.value.size() == 1}"
                            th:text="${server.value.size()} + ' app servers'"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <!-- TOPRIGHT PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading"><b>Application servers</b></div>

                <table class="table">
                    <tr th:each="server : ${appservers}">
                        <td>
                            <span class="label label-success" th:text="${server.key.uuid.substring(0,7)}"></span>
                            <span th:text="${server.key.toString()}"></span>
                        </td>
                        <td th:if="${server.value == 1}" th:text="${server.value} + ' game'"></td>
                        <td th:unless="${server.value == 1}" th:text="${server.value} + ' games'"></td>
                        <td class="btn-td">
                            <div class="btn-group pull-right" role="group">
                                <a type="button" class="btn btn-danger" aria-label=""
                                   th:href="'/shutdown/' + ${server.key.uuid}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <!-- BOTTOM ROW -->
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><b>MORE SHIT</b></div>

                <table class="table">

                </table>
            </div>
        </div>

    </div>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>