<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('dashboard')"></head>
<body>
<nav th:replace="layout :: navbar('dashboard')"></nav>

<div class="container" id="app">

    <!-- UPPER ROW -->
    <div class="row">
        <div class="col-md-6">
            <!-- TOPLEFT PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading"><b>Database cluster</b></div>
                <table class="table">
                    <!--/*@thymesVar id="server" type="be.kuleuven.cs.jli40d.core.deployer.Server"*/-->
                    <tr th:each="server : ${databases}">
                        <td>
                            <span class="dot green-dot"></span>
                            <span class="label" th:style="'background-color: #' + ${server.key.uuid.substring(0,3)} " th:text="'DB ' + ${server.key.uuid.substring(0,3)}"></span>
                        </td>
                        <td>
                            <span th:text="${server.key.toString()}"></span>
                        </td>
                        <td th:if="${server.value.size() == 1}" th:text="${server.value.size()} + ' app server'"></td>
                        <td th:unless="${server.value.size() == 1}"
                            th:text="${server.value.size()} + ' app servers'"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <!-- TOPRIGHT PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading"><b>Application servers</b></div>

                <table class="table">
                    <!--/*@thymesVar id="wrapper" type="be.kuleuven.cs.jli40d.server.dispatcher.controller.AppServerWrapper"*/-->
                    <tr th:each="wrapper : ${appservers}">
                        <td style="padding-top: 14px !important;" th:if="${wrapper.server != null}">
                            <span class="dot green-dot"></span>
                            <span class="label label-default" th:text="${wrapper.server.serverType}"></span>
                            <b th:text="'#' + ${wrapper.server.uuid.substring(0,7)}"></b>
                        </td>
                        <td style="padding-top: 14px !important;">
                            <span class="label" th:style="'background-color: #' + ${wrapper.database.uuid.substring(0,3)} " th:text="'DB ' + ${wrapper.database.uuid.substring(0,3)}"></span>
                        </td>
                        <td style="padding-top: 14px !important;">
                            <span th:text="${wrapper.server.toString()}"></span>
                        </td>
                        <td style="padding-top: 14px !important;" th:if="${wrapper.numberOfGames == 1}" th:text="${wrapper.numberOfGames} + ' game'"></td>
                        <td style="padding-top: 14px !important;" th:unless="${wrapper.numberOfGames == 1}" th:text="${wrapper.numberOfGames} + ' games'"></td>
                         <td style="padding-top: 14px !important;" th:if="${wrapper.numberOfClients == 1}" th:text="${wrapper.numberOfClients} + ' client'"></td>
                        <td style="padding-top: 14px !important;" th:unless="${wrapper.numberOfClients == 1}" th:text="${wrapper.numberOfClients} + ' clients'"></td>
                        <td class="btn-td" th:if="${appservers.size() > 1}">
                            <div class="btn-group pull-right" role="group">
                                <a type="button" class="btn btn-danger" aria-label=""
                                   th:href="'/shutdown/' + ${wrapper.server.uuid}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="panel-footer">
                    <div class="btn-group" role="group">
                        <a href="/start/app">
                            <button type="button" class="btn btn-default">Start application server</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
<script type="text/javascript">
    $(document).ready(function(){
        setInterval(function(){
            $("#app").load('/ #app');
        }, 3000);
    });
</script>
</body>
</html>